# ----------------------------------
# Python
# ----------------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------------
# Virtual Environment
# ----------------------------------
.venv/
.venv4/
venv/
env/

# ----------------------------------
# VS Code
# ----------------------------------
.vscode/

# ----------------------------------
# Environment Variables
# ----------------------------------
.env

# ----------------------------------
# Logs
# ----------------------------------
logs/
*.log

# ----------------------------------
# ChromaDB
# Uncomment below if you don't want
# to push vector database
# ----------------------------------
# vector_db/

# ----------------------------------
# Output Images
# Uncomment below if charts are
# generated every run
# ----------------------------------
# output/charts/

# ----------------------------------
# OS Files
# ----------------------------------
.DS_Store
Thumbs.db

# ----------------------------------
# Python Cache
# ----------------------------------
.pytest_cache/
.mypy_cache/

# ----------------------------------
# Jupyter
# ----------------------------------
.ipynb_checkpoints/

# ----------------------------------
# Build Files
# ----------------------------------
dist/
build/
*.egg-info/

# ----------------------------------
# IDE
# ----------------------------------
.idea/