# ==========================================
# Virtual Environment
# ==========================================
.venv/
.venv1/

# ==========================================
# Python Cache Files
# ==========================================
__pycache__/
*.py[cod]

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# IDE Files
# ==========================================
.vscode/
.idea/

# ==========================================
# Operating System Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Log Files
# ==========================================
*.log